[Unit]
Description=Start OpenDroneMap WebUI Service Container
Requires=docker.service
After=docker.service

[Service]
Type=forking
User=odm
Group=odm
WorkingDirectory=/opt/WebUI
Environment=PATH=/home/odm/.local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/bin/bash -c 'screen -dmS webodm /opt/WebUI/webodm.sh start'
ExecStop=/bin/bash -c '/opt/WebUI/webodm.sh stop'
Restart=on-failure

[Install]
WantedBy=multi-user.target
