[Unit]
Description=Start OpenDroneMap WebUI Celery Service Container
Requires=webui-gunicorn.service
After=webui-gunicorn.service

[Service]
Type=simple
User=odm
Group=odm
Environment=SHELL=/bin/bash
Environment=LANG=en_US.UTF-8
PIDFile=/run/webui-celery.pid
WorkingDirectory=/webui
ExecStart=/webui/python3-venv/bin/celery -A worker worker --autoscale 8,2 --max-tasks-per-child 1000 --loglevel=warn
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
